*.pyc
secrets.json
.vscode/
*.pth

pdfs/**/*.png
pdfs/**/*.json

data/

!pdfs/**/texts/*.json
!pdfs/**/crops_ordered/**/*.png
!pdfs/**/_results/*.json
!pdfs/**/_results/*.pkl

**/.ipynb_checkpoints
**/.virtual_documents

notebook/lab/workspaces/auto-*