data/
secrets.json
*.crt

__pycache__
*.pyc
.vscode/

**/.ipynb_checkpoints
**/.virtual_documents
notebook/lab/workspaces/auto-*

pdfs/**/*.png
pdfs/**/*.json
!pdfs/**/texts/*.json
!pdfs/**/crops_ordered/**/*.png
!pdfs/**/_results/*.json
!pdfs/**/_results/*.pkl

files/htmls/*
!files/htmls/ar5iv

*.pth
